
@{
    ViewBag.Title = "Not Found";
}

<h1 class="text-danger"> Not Found !</h1>
<p class="text-center">
    Sorry but the page that you are looking for is not available or it was moved.
    <br />
    If You think that is a problem or bug you can make a report on this @(Html.ActionLink("Link", "Index", "Report", new { area = "Public" }, null)).
</p>

