@model UniversityStudentSystem.Web.Models.Candidates.CandidateInputModel
@using (Html.BeginForm("Apply", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <p class="lead">
                Upload a short document for apply. We will consider the documents.
                You can put in zip archive
            </p>
            <div class="form-group">
                <div class="col-md-12 ">
                    <label> Specialty</label>
                    <select name="SpecialtyId" class="form-control">
                        @foreach (var spec in Model.Specialties)
                        {
                            <option value="@spec.Id">@spec.Name</option>
                        }
                    </select>
                </div>
                <br />
                <br />
                <br /><br /><br />
                <div class="col-md-2 text-right">File:</div>
                <div class="col-md-4">
                    <input type="file" name="file" />
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-outline btn-success pull-right" />
            </div>
        </div>
}
