@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p class="text-center">If You think that is a problem or bug you can make a report on this @(Html.ActionLink("Link", "Index", "Report", new { area = "Public" }, null)).</p>

