
@{
    ViewBag.Title = "No Tests";
}

<div class="text-center">
    <h3>Currently there are no tests for you. </h3>
    <p class="lead">You can check results in your profile <a href="/Manage">page</a></p>
</div>

