@{
    ViewBag.Title = "No Tests";
}

<div class="text-center">
    <h3>Currently there are no tests for you. </h3>
    <p class="lead">You can check results in your profile <a href="/Manage">page</a></p>
    @Html.ActionLink("Back to course", "Details", "Courses", new { id = this.Request.RequestContext.RouteData.Values["id"], name = this.Request.RequestContext.RouteData.Values["name"] }, new { @class = "btn btn-info btn-outline" })
</div>

