#page-wrapper {
    padding-top: 100px;
}

@media(min-width:768px) {
    #page-wrapper {
        padding: 50px 30px;
    }
}

li .timeline-panel:hover {
    -moz-box-shadow: 0 1px 6px rgba(15, 199, 95, 0.64);
    -webkit-box-shadow: 0 1px 6px rgba(15, 199, 95, 0.64);
    box-shadow: 0 1px 6px rgba(15, 199, 95, 0.64);
}

.required {
    font-size: 24px;
}

.remove-btn {
    position: absolute;
    z-index: 200;
}

#accordion .panel-heading:hover {
    background-color: #8ebc00;
}

.my-radio {
    height: 30px;
    width: 30px;
}

.shadow:hover {
    -moz-box-shadow: 0 0 9px 0px #0094ff;
    -webkit-box-shadow: 0 0 9px 0px #0094ff;
    box-shadow: 0 0 9px 0px #0094ff;
}

div.pages a.active {
    color: white;
}

div.pages a {
    border-radius: 20px;
}

#accordion .panel-heading.task:hover {
    background-color: #5bc0de;
}

table#student-marks {
    background-color: #ffc87c;
    font-family: Consolas;
    font-size: 23px;
}

    table#student-marks tr:hover {
        background-color: #d5a96c;
    }

    table#student-marks th {
        font-weight: bold;
    }

    table#student-marks td, table#student-marks th {
        border-color: #12007e;
    }

        table#student-marks td:nth-of-type(2n+3) {
            font-size: 50px;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 2px #333;
        }
