/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

// Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

// Override the default bootstrap behavior where horizontal description lists 
//   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

// Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
*/


/*

a {
    color: #369c0f;
}

a:focus, a:hover {
    color: #276b0d;
}
*/

#page-wrapper {
    padding-top: 100px;
}

@media(min-width:768px) {
    #page-wrapper {
        padding: 50px 30px;
    }
}

li .timeline-panel:hover {
    -moz-box-shadow: 0 1px 6px rgba(15, 199, 95, 0.64);
    -webkit-box-shadow: 0 1px 6px rgba(15, 199, 95, 0.64);
    box-shadow: 0 1px 6px rgba(15, 199, 95, 0.64);
}

.required {
    font-size: 24px;
}

.remove-btn {
    position: absolute;
    z-index: 200;
}

#accordion .panel-heading:hover {
    background-color: #8ebc00
}

.my-radio {
    height: 30px;
    width: 30px;
}

.shadow:hover {
    -moz-box-shadow: 0 0 9px 0px #0094ff;
    -webkit-box-shadow: 0 0 9px 0px #0094ff;
    box-shadow: 0 0 9px 0px #0094ff;
}

div.pages a.active {
    color: white;
}

div.pages a {
     border-radius: 20px;
}