@{
    ViewBag.Title = "Home Page";
}

<div class="row">
        <div class="container">

            <div class="jumbotron">
                <div class="pull-right">
                    <img src="~/Images/university-default-news.png" alt="universityLogo" width="150" />
                </div>
                <h1>Welcome to student system</h1>
                <p>
                    Easy to learn, latest technologies, job careers at ending of each specialty track -
                    Diploma as rewards. Manage your task and marks
                </p>
            </div>
        </div>
</div>

@{
    Html.RenderAction("LatestNews");
}