@using UniversityStudentSystem.Common.Extensions;

@model IEnumerable<UniversityStudentSystem.Web.Models.NewsModels.NewsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>News</h2>
<hr />

@foreach (var item in Model)
{
    <div class="row" >
        <div class="col-md-6">
            <h3>@item.Title</h3>
            <p class="text-muted">@item.CreatedOn.DateTimeAgo()</p>
            <div class="panel panel-default">
                <div class="panel-body">
                    @item.ShortContent
                </div>
            </div>
            @Html.ActionLink("Read", "Details", new { id = item.Id, name = item.Title.ToUrl(), area = "Public" }, new { @class ="btn btn-outline btn-success" })  
        </div>
    </div>
}
