
@{
    ViewBag.Title = "Index";
}

<h2>About us</h2>
<hr />
<div class="row">
    <div class="col-md-5 text-justify">
        <p>
            The mission of New Bulgarian University is to be an autonomous liberal education institution dedicated to the advancement of university education by offering accessible and affordable opportunities for interdisciplinary and specialized education and research of high quality. Bringing its academic potential to the service of society, the University prepares its graduates for the challenges of modern democratic life cultivating critical and creative thinking, sensitivity to cultural difference, and problem‐solving.
        </p>
    </div>
</div>